header {
    background-color: #6200EE;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 20px;
    font-weight: 200;
}

button {
    background-color: #2A913E;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 0.8rem;
    padding: 2px 36px;
    border-radius: 3px;
}

.search {
    display: flex;
}

.search input {
    width: 13rem;
    margin-right: 5px;
}

.map {
    background-color: aqua;
    height: calc(100vh - 54.8px);
}